{% if user.is_active %}
<h4 class = "welcome">
    Welcome,
    <strong>{{ user.get_username }}</strong>
    /
    <a href={%  url 'polls:logout' %}>logout</a>
</h4>
{% else %}
<a href={%  url 'login' %}>login</a>
{% endif %}



{%  load static %}
<link rel= "stylesheet" type = "text/css" href = "{% static 'polls/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{%  url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}